# Data Preprocessing

This notebook is aimed at understanding the data in smaller blocks, and exploring different feature spaces.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
PATH = "../datasets/tradhist.csv"

In [5]:
df = pd.read_csv(PATH)

/var/folders/qc/xp9q1kcj79315fgc2jdgwtv00000gn/T/ipykernel_62071/3758478907.py:1: DtypeWarning: Columns (8,12,14,21,24,28,33,45,46,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH)

In [13]:
df

,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,IPTOT_o,IPTOT_d,XPTOT_o,XPTOT_d,...,Comlang,Contig,POP_o,POP_d,OECD_o,OECD_d,GATT_o,GATT_d,CONTI_o,CONTI_d
0,NaN,ADEN,1950,NaN,NaN,NaN,NaN,4.200000e+07,NaN,3.900000e+07,...,NaN,NaN,NaN,4777.089,NaN,NaN,NaN,NaN,NaN,ASIA
1,NaN,ADEN,1951,NaN,NaN,NaN,NaN,5.000000e+07,NaN,4.500000e+07,...,NaN,NaN,NaN,4869.125,NaN,NaN,NaN,NaN,NaN,ASIA
2,NaN,ADEN,1952,NaN,NaN,NaN,NaN,5.700000e+07,NaN,4.600000e+07,...,NaN,NaN,NaN,4963.829,NaN,NaN,NaN,NaN,NaN,ASIA
3,NaN,ADEN,1953,NaN,NaN,NaN,NaN,6.100000e+07,NaN,4.100000e+07,...,NaN,NaN,NaN,5061.153,NaN,NaN,NaN,NaN,NaN,ASIA
4,NaN,ADEN,1954,NaN,NaN,NaN,NaN,6.700000e+07,NaN,4.500000e+07,...,NaN,NaN,NaN,5162.494,NaN,NaN,NaN,NaN,NaN,ASIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502422,ZWE,ZMB,2010,46558256.0,6.097825e+09,1.311544e+10,2.673542e+09,3.442585e+09,2.070475e+09,4.636377e+09,...,1.0,1.0,13973.897,13917.439,0.0,0.0,1.0,1.0,AFRI,AFRI
2502423,ZWE,ZMB,2011,55171376.0,6.838230e+09,1.464204e+10,3.097955e+09,4.543546e+09,2.192061e+09,5.510135e+09,...,1.0,1.0,14255.592,14343.526,0.0,0.0,1.0,1.0,AFRI,AFRI
2502424,ZWE,ZMB,2012,58787336.0,7.845171e+09,1.614464e+10,3.321382e+09,5.562818e+09,2.457760e+09,5.922680e+09,...,1.0,1.0,14565.482,14786.581,0.0,0.0,1.0,1.0,AFRI,AFRI
2502425,ZWE,ZMB,2013,77869780.0,8.629172e+09,1.793963e+10,3.244361e+09,6.515267e+09,2.243481e+09,6.770876e+09,...,1.0,1.0,14898.092,15246.086,0.0,0.0,1.0,1.0,AFRI,AFRI
2502426,ZWE,ZMB,2014,62405360.0,8.627889e+09,1.649053e+10,2.983128e+09,5.899204e+09,2.089376e+09,5.890915e+09,...,1.0,1.0,15245.855,15721.343,0.0,0.0,1.0,1.0,AFRI,AFRI

In [14]:
df = df[["iso_o", "iso_d", "year", "FLOW", "GDP_o", "GDP_d", "IPTOT_o", "IPTOT_d",
                 "XPTOT_o", "XPTOT_d", "Distw", "Dist_coord", "SeaDist_SHRT",
                 "Comlang", "Contig", "POP_o", "POP_d","OECD_o", "OECD_d", "GATT_o", "GATT_d", "CONTI_o", "CONTI_d"]]

> We will drop all values which have NaN for our target variable `FLOW`

In [15]:
df = df.dropna(subset=['FLOW'])

In [16]:
df

,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,IPTOT_o,IPTOT_d,XPTOT_o,XPTOT_d,...,Comlang,Contig,POP_o,POP_d,OECD_o,OECD_d,GATT_o,GATT_d,CONTI_o,CONTI_d
1501,2SICIL,AUTHUN,1838,492920.70,NaN,NaN,NaN,1.015852e+07,NaN,1.035482e+07,...,0.0,0.0,NaN,3680.000,NaN,NaN,NaN,NaN,EUROP,EUROP
1502,2SICIL,BEL,1834,38164.50,NaN,NaN,NaN,7.171259e+06,NaN,4.669327e+06,...,0.0,0.0,NaN,3879.000,NaN,NaN,NaN,NaN,EUROP,EUROP
1503,2SICIL,BEL,1835,30052.34,NaN,6.113328e+07,NaN,6.767636e+06,NaN,5.409698e+06,...,0.0,0.0,NaN,3912.000,NaN,NaN,NaN,NaN,EUROP,EUROP
1504,2SICIL,BEL,1836,44906.54,NaN,6.820465e+07,NaN,7.668378e+06,NaN,5.931506e+06,...,0.0,0.0,NaN,3945.000,NaN,NaN,NaN,NaN,EUROP,EUROP
1505,2SICIL,BEL,1837,33957.27,NaN,7.146246e+07,NaN,8.206626e+06,NaN,5.307154e+06,...,0.0,0.0,NaN,3978.000,NaN,NaN,NaN,NaN,EUROP,EUROP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502422,ZWE,ZMB,2010,46558256.00,6.097825e+09,1.311544e+10,2.673542e+09,3.442585e+09,2.070475e+09,4.636377e+09,...,1.0,1.0,13973.897,13917.439,0.0,0.0,1.0,1.0,AFRI,AFRI
2502423,ZWE,ZMB,2011,55171376.00,6.838230e+09,1.464204e+10,3.097955e+09,4.543546e+09,2.192061e+09,5.510135e+09,...,1.0,1.0,14255.592,14343.526,0.0,0.0,1.0,1.0,AFRI,AFRI
2502424,ZWE,ZMB,2012,58787336.00,7.845171e+09,1.614464e+10,3.321382e+09,5.562818e+09,2.457760e+09,5.922680e+09,...,1.0,1.0,14565.482,14786.581,0.0,0.0,1.0,1.0,AFRI,AFRI
2502425,ZWE,ZMB,2013,77869780.00,8.629172e+09,1.793963e+10,3.244361e+09,6.515267e+09,2.243481e+09,6.770876e+09,...,1.0,1.0,14898.092,15246.086,0.0,0.0,1.0,1.0,AFRI,AFRI
2502426,ZWE,ZMB,2014,62405360.00,8.627889e+09,1.649053e+10,2.983128e+09,5.899204e+09,2.089376e+09,5.890915e+09,...,1.0,1.0,15245.855,15721.343,0.0,0.0,1.0,1.0,AFRI,AFRI

In [18]:
set(df["iso_o"])

{'2SICIL',
 'ABW',
 'ADEN',
 'AFG',
 'AGO',
 'ALASKA',
 'ALB',
 'ALSLOR',
 'AND',
 'ANT',
 'AOFAEF',
 'ARE',
 'ARG',
 'ARM',
 'ASM',
 'ATG',
 'AUS',
 'AUSNSW',
 'AUSQUE',
 'AUSSTH',
 'AUSTAS',
 'AUSVIC',
 'AUSWST',
 'AUT',
 'AUTHUN',
 'AZE',
 'AZORES',
 'BARBAR',
 'BDI',
 'BEL',
 'BEN',
 'BFA',
 'BGD',
 'BGR',
 'BHR',
 'BHS',
 'BIH',
 'BLM',
 'BLR',
 'BLZ',
 'BMU',
 'BOL',
 'BRA',
 'BRB',
 'BREMEN',
 'BRN',
 'BTN',
 'BWA',
 'CAF',
 'CAN',
 'CANARY',
 'CANPRINCED',
 'CANQBCONT',
 'CCK',
 'CHE',
 'CHISL',
 'CHL',
 'CHN',
 'CIV',
 'CMR',
 'COD',
 'COG',
 'COK',
 'COL',
 'COM',
 'CPV',
 'CRI',
 'CUB',
 'CUW',
 'CXR',
 'CYM',
 'CYP',
 'CZE',
 'CZSK',
 'DANTZ',
 'DEU',
 'DEUAFRI',
 'DEUNEWGUI',
 'DEUWAF',
 'DJI',
 'DMA',
 'DNK',
 'DOM',
 'DZA',
 'ECU',
 'EDEU',
 'EGY',
 'ERI',
 'ESH',
 'ESP',
 'EST',
 'ETH',
 'FEDMYS',
 'FIN',
 'FIUME',
 'FJI',
 'FLK',
 'FRA',
 'FRAAEF',
 'FRAAFRI',
 'FRAAOF',
 'FRAEAFRI',
 'FRAIND',
 'FRAOCEA',
 'FRAWINDIES',
 'FRO',
 'FSM',
 'GAB',
 'GBR',
 'GBRAFRI',
 'GBRBORNEO',
 'GBRIND',
 'GBRMEDI',
 'GBRPAPUA',
 'GBRSOM',
 'GBRWAFRI',
 'GBRWINDIES',
 'GEL',
 'GEO',
 'GHA',
 'GIB',
 'GIN',
 'GLP',
 'GMB',
 'GNB',
 'GNQ',
 'GRC',
 'GRD',
 'GRL',
 'GTM',
 'GUF',
 'GUM',
 'GUY',
 'HAMBG',
 'HANOV',
 'HANS',
 'HKG',
 'HND',
 'HRV',
 'HTI',
 'HUN',
 'HWI',
 'IDN',
 'IND',
 'INDOCHI',
 'IRL',
 'IRN',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'ITAEAFRI',
 'ITASOM',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KGZ',
 'KHM',
 'KIR',
 'KNA',
 'KOR',
 'KWANTU',
 'KWT',
 'LAO',
 'LBN',
 'LBR',
 'LBY',
 'LCA',
 'LIE',
 'LKA',
 'LSO',
 'LTU',
 'LUBECK',
 'LUX',
 'LVA',
 'MAC',
 'MADEIRA',
 'MANCHU',
 'MAR',
 'MARESP',
 'MCO',
 'MDA',
 'MDG',
 'MDV',
 'MECKL',
 'MEX',
 'MHL',
 'MKD',
 'MLI',
 'MLT',
 'MMR',
 'MNE',
 'MNG',
 'MOZ',
 'MRT',
 'MTQ',
 'MUS',
 'MWI',
 'MYS',
 'MYT',
 'NAM',
 'NCL',
 'NER',
 'NFK',
 'NFLD',
 'NGA',
 'NIC',
 'NLD',
 'NOR',
 'NPL',
 'NRU',
 'NZL',
 'OLDENB',
 'OMN',
 'OTTO',
 'PAK',
 'PAN',
 'PCN',
 'PER',
 'PHL',
 'PLW',
 'PNG',
 'POL',
 'PRI',
 'PRK',
 'PRT',
 'PRTAFRI',
 'PRTIND',
 'PRTWAFRI',
 'PRUS',
 'PRY',
 'PYF',
 'QAT',
 'REU',
 'RHOD',
 'ROM',
 'ROME',
 'RUS',
 'RWA',
 'RWABDI',
 'SARD',
 'SARRE',
 'SAU',
 'SCHLES',
 'SDN',
 'SEN',
 'SGP',
 'SGS',
 'SHN',
 'SLB',
 'SLE',
 'SLV',
 'SMR',
 'SOM',
 'SPM',
 'SRB',
 'STP',
 'STRAITS',
 'SUR',
 'SVK',
 'SVN',
 'SWE',
 'SWENOR',
 'SWZ',
 'SYC',
 'SYR',
 'SYRLBN',
 'TANGER',
 'TCA',
 'TCD',
 'TEXAS',
 'TGO',
 'TGOCMR',
 'THA',
 'TJK',
 'TKM',
 'TLS',
 'TON',
 'TRIEST',
 'TTO',
 'TUN',
 'TUR',
 'TUSC',
 'TUV',
 'TWN',
 'TZA',
 'UGA',
 'UKNLD',
 'UKR',
 'ULSTER',
 'UNFEDMYS',
 'URY',
 'USA',
 'USSR',
 'UZB',
 'VAT',
 'VCT',
 'VEN',
 'VIR',
 'VNM',
 'VUT',
 'WDEU',
 'WLF',
 'WSM',
 'YAR',
 'YEM',
 'YMD',
 'YUG',
 'ZAF',
 'ZAFCAP',
 'ZAFNAT',
 'ZAFORA',
 'ZAFTRA',
 'ZANZ',
 'ZMB',
 'ZOLL',
 'ZWE'}

In [26]:
df.loc[(df["iso_o"] == "USA") | (df["iso_d"] == "USA")].dropna(subset=["GDP_o", "GDP_d", ])

,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,IPTOT_o,IPTOT_d,XPTOT_o,XPTOT_d,...,Comlang,Contig,POP_o,POP_d,OECD_o,OECD_d,GATT_o,GATT_d,CONTI_o,CONTI_d
7472,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7473,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7474,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7475,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7476,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2501647,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2501648,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2501649,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2501650,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2501651,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
df.count()

iso_o           1899690
iso_d           1899690
year            1899690
FLOW            1899690
GDP_o           1601579
GDP_d           1597122
IPTOT_o         1787562
IPTOT_d         1779544
XPTOT_o         1794707
XPTOT_d         1786513
Distw           1772917
Dist_coord      1899690
SeaDist_SHRT    1295573
Comlang         1899690
Contig          1899690
POP_o           1726342
POP_d           1727923
OECD_o          1424760
OECD_d          1424760
GATT_o          1664816
GATT_d          1664816
CONTI_o         1899690
CONTI_d         1899690
dtype: int64