In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = "../datasets/tradhist.csv"
df = pd.read_csv(PATH)

/var/folders/qc/xp9q1kcj79315fgc2jdgwtv00000gn/T/ipykernel_3936/562444793.py:2: DtypeWarning: Columns (8,12,14,21,24,28,33,45,46,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH)

In [3]:
df

,Unnamed: 0,iso_o,iso_d,year,FLOW,FLOW_0,SOURCE_TF,GDP_o,SOURCE_GDP_o,GDP_d,...,CONTI_o,CONTI_d,REGIO_o,REGIO_d,OECD_o,OECD_d,EU_o,EU_d,GATT_o,GATT_d
0,0,NaN,ADEN,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,ADEN,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,ADEN,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,ADEN,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,ADEN,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502422,2502422,ZWE,ZMB,2010,46558256.0,NaN,DOTS_IP,6.097825e+09,WDI,1.311544e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502423,2502423,ZWE,ZMB,2011,55171376.0,NaN,DOTS_IP,6.838230e+09,WDI,1.464204e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502424,2502424,ZWE,ZMB,2012,58787336.0,NaN,DOTS_IP,7.845171e+09,WDI,1.614464e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502425,2502425,ZWE,ZMB,2013,77869780.0,NaN,DOTS_IP,8.629172e+09,WDI,1.793963e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502426,2502426,ZWE,ZMB,2014,62405360.0,NaN,DOTS_IP,8.627889e+09,WDI,1.649053e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0

In [4]:
df.rename(columns = {'Unnamed: 0':'index'}, inplace = True)

In [5]:
df

,index,iso_o,iso_d,year,FLOW,FLOW_0,SOURCE_TF,GDP_o,SOURCE_GDP_o,GDP_d,...,CONTI_o,CONTI_d,REGIO_o,REGIO_d,OECD_o,OECD_d,EU_o,EU_d,GATT_o,GATT_d
0,0,NaN,ADEN,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,ADEN,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,ADEN,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,ADEN,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,ADEN,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ASIA,NaN,MIDEST,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502422,2502422,ZWE,ZMB,2010,46558256.0,NaN,DOTS_IP,6.097825e+09,WDI,1.311544e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502423,2502423,ZWE,ZMB,2011,55171376.0,NaN,DOTS_IP,6.838230e+09,WDI,1.464204e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502424,2502424,ZWE,ZMB,2012,58787336.0,NaN,DOTS_IP,7.845171e+09,WDI,1.614464e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502425,2502425,ZWE,ZMB,2013,77869780.0,NaN,DOTS_IP,8.629172e+09,WDI,1.793963e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0
2502426,2502426,ZWE,ZMB,2014,62405360.0,NaN,DOTS_IP,8.627889e+09,WDI,1.649053e+10,...,AFRI,AFRI,STHAFR,STHAFR,0.0,0.0,0.0,0.0,1.0,1.0

In [6]:
features = ["index", "iso_o", "iso_d", "year","FLOW", "GDP_o", "GDP_d", "POP_o", "POP_d", "Distw", "Comlang", "Contig",
              "XPTOT_o", "IPTOT_d", "IPTOT_o", "XPTOT_d"]

In [7]:
df = df[features]

In [8]:
df.isna().sum()

index           0
iso_o        1501
iso_d        1502
year            0
FLOW       602737
GDP_o      555396
GDP_d      490671
POP_o      322514
POP_d      276342
Distw      199813
Comlang      3003
Contig       3003
XPTOT_o    256551
IPTOT_d    206730
IPTOT_o    269437
XPTOT_d    192973
dtype: int64

In [9]:
df = df.dropna()

In [10]:
df.reset_index()

,level_0,index,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
0,1697,1697,ABW,AFG,2001,0.0,1.333920e+09,1.710009e+09,92.894,20531.160,13168.223762,0.0,0.0,8.918040e+08,1.178135e+09,1.647536e+09,6.461683e+07
1,1698,1698,ABW,AFG,2002,0.0,1.295143e+09,2.754842e+09,94.995,21487.078,13168.223762,0.0,0.0,6.470984e+08,1.636031e+09,1.345889e+09,6.455996e+07
2,1699,1699,ABW,AFG,2003,0.0,1.237991e+09,2.807356e+09,97.015,22507.367,13168.223762,0.0,0.0,8.224479e+08,1.286804e+09,1.468359e+09,1.405804e+08
3,1700,1700,ABW,AFG,2004,0.0,1.217042e+09,2.886814e+09,98.742,23499.850,13168.223762,0.0,0.0,1.361386e+09,1.189034e+09,1.960329e+09,1.665849e+08
4,1701,1701,ABW,AFG,2005,0.0,1.282048e+09,3.451279e+09,100.031,24399.947,13168.223762,0.0,0.0,2.203139e+09,1.358902e+09,2.358232e+09,2.111992e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264536,2502422,2502422,ZWE,ZMB,2010,46558256.0,6.097825e+09,1.311544e+10,13973.897,13917.439,583.795386,1.0,1.0,2.070475e+09,3.442585e+09,2.673542e+09,4.636377e+09
1264537,2502423,2502423,ZWE,ZMB,2011,55171376.0,6.838230e+09,1.464204e+10,14255.592,14343.526,583.795386,1.0,1.0,2.192061e+09,4.543546e+09,3.097955e+09,5.510135e+09
1264538,2502424,2502424,ZWE,ZMB,2012,58787336.0,7.845171e+09,1.614464e+10,14565.482,14786.581,583.795386,1.0,1.0,2.457760e+09,5.562818e+09,3.321382e+09,5.922680e+09
1264539,2502425,2502425,ZWE,ZMB,2013,77869780.0,8.629172e+09,1.793963e+10,14898.092,15246.086,583.795386,1.0,1.0,2.243481e+09,6.515267e+09,3.244361e+09,6.770876e+09
1264540,2502426,2502426,ZWE,ZMB,2014,62405360.0,8.627889e+09,1.649053e+10,15245.855,15721.343,583.795386,1.0,1.0,2.089376e+09,5.899204e+09,2.983128e+09,5.890915e+09

In [11]:
df.describe()

,index,year,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
count,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06,1.264541e+06
mean,1.221867e+06,1.986820e+03,1.181009e+08,1.066158e+11,1.065710e+11,3.444303e+04,3.429993e+04,7.717195e+03,1.741620e-01,2.232984e-02,2.217744e+10,2.230704e+10,2.230730e+10,2.217467e+10
std,7.097515e+05,2.294447e+01,1.775181e+09,5.293667e+11,5.294118e+11,1.219508e+05,1.222648e+05,4.465357e+03,3.792489e-01,1.477540e-01,7.876870e+10,8.333132e+10,8.330342e+10,7.878322e+10
min,1.697000e+03,1.827000e+03,0.000000e+00,1.500000e+06,1.500000e+06,9.004000e+00,9.004000e+00,6.077057e+01,0.000000e+00,0.000000e+00,4.600374e-03,6.498229e-03,6.498229e-03,4.600374e-03
25%,5.894410e+05,1.975000e+03,0.000000e+00,8.837319e+08,8.726014e+08,2.389309e+03,2.352637e+03,4.148039e+03,0.000000e+00,0.000000e+00,1.769087e+08,2.658295e+08,2.684836e+08,1.742531e+08
50%,1.206321e+06,1.992000e+03,7.084860e+04,4.647678e+09,4.555827e+09,7.499400e+03,7.325622e+03,7.394994e+03,0.000000e+00,0.000000e+00,1.004429e+09,1.383952e+09,1.392562e+09,9.973109e+08
75%,1.811116e+06,2.004000e+03,3.313725e+06,3.149481e+10,3.118760e+10,2.279428e+04,2.255398e+04,1.074419e+04,0.000000e+00,0.000000e+00,7.840651e+09,8.489059e+09,8.550328e+09,7.815714e+09
max,2.502426e+06,2.014000e+03,2.836604e+11,1.065877e+13,1.065877e+13,1.364270e+06,1.364270e+06,1.973532e+04,1.000000e+00,1.000000e+00,1.439870e+12,1.450988e+12,1.450988e+12,1.439870e+12

In [12]:
df = df.loc[(df["year"] > 2000) & (df["FLOW"] > 10000)].dropna()

In [13]:
df

,index,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
1707,1707,ABW,AFG,2011,60232.73,1.613070e+09,1.119100e+10,101.936,28809.168,13168.223762,0.0,0.0,2.671829e+09,6.612774e+09,3.692892e+09,3.224723e+08
1833,1833,ABW,ARE,2003,48539.94,1.237991e+09,7.615866e+10,97.015,3625.798,12773.079714,0.0,0.0,8.224479e+08,3.185928e+10,1.468359e+09,4.111831e+10
1838,1838,ABW,ARE,2008,143207.20,1.518732e+09,1.716075e+11,101.342,6900.142,12773.079714,0.0,0.0,2.995200e+09,1.123507e+11,3.269813e+09,1.301235e+11
1839,1839,ABW,ARE,2009,11195.58,1.604113e+09,1.627569e+11,101.416,7705.423,12773.079714,0.0,0.0,1.363620e+09,9.999943e+10,1.571841e+09,1.232484e+11
1841,1841,ABW,ARE,2011,113576.80,1.613070e+09,2.175294e+11,101.936,8734.722,12773.079714,0.0,0.0,2.671829e+09,1.365564e+11,3.692892e+09,1.884906e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502422,2502422,ZWE,ZMB,2010,46558256.00,6.097825e+09,1.311544e+10,13973.897,13917.439,583.795386,1.0,1.0,2.070475e+09,3.442585e+09,2.673542e+09,4.636377e+09
2502423,2502423,ZWE,ZMB,2011,55171376.00,6.838230e+09,1.464204e+10,14255.592,14343.526,583.795386,1.0,1.0,2.192061e+09,4.543546e+09,3.097955e+09,5.510135e+09
2502424,2502424,ZWE,ZMB,2012,58787336.00,7.845171e+09,1.614464e+10,14565.482,14786.581,583.795386,1.0,1.0,2.457760e+09,5.562818e+09,3.321382e+09,5.922680e+09
2502425,2502425,ZWE,ZMB,2013,77869780.00,8.629172e+09,1.793963e+10,14898.092,15246.086,583.795386,1.0,1.0,2.243481e+09,6.515267e+09,3.244361e+09,6.770876e+09
2502426,2502426,ZWE,ZMB,2014,62405360.00,8.627889e+09,1.649053e+10,15245.855,15721.343,583.795386,1.0,1.0,2.089376e+09,5.899204e+09,2.983128e+09,5.890915e+09

In [14]:
df.loc[(df["iso_o"] == "USA") & (df["iso_d"] == "CHN")]

,index,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
2332236,2332236,USA,CHN,2001,1.821455e+10,7.378503e+12,9.254435e+11,284968.97,1271850.0,11183.428123,0.0,0.0,5.301281e+11,1.691950e+11,8.198111e+11,2.822862e+11
2332237,2332237,USA,CHN,2002,1.818276e+10,7.324450e+12,9.754176e+11,287625.20,1280400.0,11183.428123,0.0,0.0,4.876326e+11,1.971244e+11,8.022755e+11,3.161568e+11
2332238,2332238,USA,CHN,2003,2.078663e+10,7.049963e+12,1.010535e+12,290107.94,1288400.0,11183.428123,0.0,0.0,4.671654e+11,2.528505e+11,7.994658e+11,3.647914e+11
2332239,2332239,USA,CHN,2004,2.443822e+10,6.704321e+12,1.060543e+12,292805.30,1296075.0,11183.428123,0.0,0.0,4.692705e+11,3.063038e+11,8.331812e+11,4.272286e+11
2332240,2332240,USA,CHN,2005,2.694688e+10,7.201523e+12,1.247725e+12,295516.60,1303720.0,11183.428123,0.0,0.0,5.131972e+11,3.631191e+11,9.528826e+11,5.384827e+11
2332241,2332241,USA,CHN,2006,3.224296e+10,7.530495e+12,1.483602e+12,298379.90,1311020.0,11183.428123,0.0,0.0,5.636124e+11,4.303292e+11,1.043082e+12,6.415434e+11
2332242,2332242,USA,CHN,2007,3.498284e+10,7.235517e+12,1.760744e+12,301231.22,1317885.0,11183.428123,0.0,0.0,5.810549e+11,4.779125e+11,1.008230e+12,7.191396e+11
2332243,2332243,USA,CHN,2008,4.445431e+10,8.006408e+12,2.479631e+12,304093.97,1324655.0,11183.428123,0.0,0.0,7.071993e+11,6.157260e+11,1.178219e+12,8.980015e+11
2332244,2332244,USA,CHN,2009,4.992364e+10,9.255663e+12,3.247738e+12,306771.53,1331260.0,11183.428123,0.0,0.0,6.784442e+11,6.444161e+11,1.029349e+12,9.063443e+11
2332245,2332245,USA,CHN,2010,6.598572e+10,9.684627e+12,3.908740e+12,309346.88,1337705.0,11183.428123,0.0,0.0,8.267647e+11,9.021093e+11,1.273726e+12,1.160983e+12
2332246,2332246,USA,CHN,2011,7.437514e+10,9.685374e+12,4.676334e+12,311718.84,1344130.0,11183.428123,0.0,0.0,9.252765e+11,1.086898e+12,1.378072e+12,1.285863e+12
2332247,2332247,USA,CHN,2012,8.143390e+10,1.022704e+13,5.356605e+12,314102.62,1350695.0,11183.428123,0.0,0.0,9.785577e+11,1.150462e+12,1.440980e+12,1.356310e+12
2332248,2332248,USA,CHN,2013,9.401673e+10,1.065877e+13,6.070768e+12,316427.40,1357380.0,11183.428123,0.0,0.0,1.009660e+12,1.246891e+12,1.450988e+12,1.428233e+12
2332249,2332249,USA,CHN,2014,9.367307e+10,1.054294e+13,6.290681e+12,318907.40,1364270.0,11183.428123,0.0,0.0,9.848143e+11,1.193041e+12,1.426755e+12,1.439870e+12

In [16]:
df.columns

Index(['index', 'iso_o', 'iso_d', 'year', 'FLOW', 'GDP_o', 'GDP_d', 'POP_o',
       'POP_d', 'Distw', 'Comlang', 'Contig', 'XPTOT_o', 'IPTOT_d', 'IPTOT_o',
       'XPTOT_d'],
      dtype='object')

In [18]:
exo = ['GDP_o', 'GDP_d', 'POP_o','POP_d',
 'Distw', 'Comlang', 'Contig', 'XPTOT_o', 'IPTOT_d', 'IPTOT_o', 'XPTOT_d']

In [19]:
us_chn_df = df.loc[(df["iso_o"] == "USA") & (df["iso_d"] == "CHN")]

In [20]:
df_train = us_chn_df[us_chn_df.year < 2011]
df_valid = us_chn_df[us_chn_df.year >= 2011]

In [30]:
from statsmodels.tsa.ar_model import AutoReg

In [33]:
df_train

,index,iso_o,iso_d,year,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
2332236,2332236,USA,CHN,2001,1.821455e+10,7.378503e+12,9.254435e+11,284968.97,1271850.0,11183.428123,0.0,0.0,5.301281e+11,1.691950e+11,8.198111e+11,2.822862e+11
2332237,2332237,USA,CHN,2002,1.818276e+10,7.324450e+12,9.754176e+11,287625.20,1280400.0,11183.428123,0.0,0.0,4.876326e+11,1.971244e+11,8.022755e+11,3.161568e+11
2332238,2332238,USA,CHN,2003,2.078663e+10,7.049963e+12,1.010535e+12,290107.94,1288400.0,11183.428123,0.0,0.0,4.671654e+11,2.528505e+11,7.994658e+11,3.647914e+11
2332239,2332239,USA,CHN,2004,2.443822e+10,6.704321e+12,1.060543e+12,292805.30,1296075.0,11183.428123,0.0,0.0,4.692705e+11,3.063038e+11,8.331812e+11,4.272286e+11
2332240,2332240,USA,CHN,2005,2.694688e+10,7.201523e+12,1.247725e+12,295516.60,1303720.0,11183.428123,0.0,0.0,5.131972e+11,3.631191e+11,9.528826e+11,5.384827e+11
2332241,2332241,USA,CHN,2006,3.224296e+10,7.530495e+12,1.483602e+12,298379.90,1311020.0,11183.428123,0.0,0.0,5.636124e+11,4.303292e+11,1.043082e+12,6.415434e+11
2332242,2332242,USA,CHN,2007,3.498284e+10,7.235517e+12,1.760744e+12,301231.22,1317885.0,11183.428123,0.0,0.0,5.810549e+11,4.779125e+11,1.008230e+12,7.191396e+11
2332243,2332243,USA,CHN,2008,4.445431e+10,8.006408e+12,2.479631e+12,304093.97,1324655.0,11183.428123,0.0,0.0,7.071993e+11,6.157260e+11,1.178219e+12,8.980015e+11
2332244,2332244,USA,CHN,2009,4.992364e+10,9.255663e+12,3.247738e+12,306771.53,1331260.0,11183.428123,0.0,0.0,6.784442e+11,6.444161e+11,1.029349e+12,9.063443e+11
2332245,2332245,USA,CHN,2010,6.598572e+10,9.684627e+12,3.908740e+12,309346.88,1337705.0,11183.428123,0.0,0.0,8.267647e+11,9.021093e+11,1.273726e+12,1.160983e+12

In [37]:
df_train_num = df_train[["FLOW"]]

In [43]:
df_valid_num = np.asarray(df_valid[["FLOW"]])

In [39]:
df_train_num

                 FLOW
2332236  1.821455e+10
2332237  1.818276e+10
2332238  2.078663e+10
2332239  2.443822e+10
2332240  2.694688e+10
2332241  3.224296e+10
2332242  3.498284e+10
2332243  4.445431e+10
2332244  4.992364e+10
2332245  6.598572e+10

In [81]:
ar_model = AutoReg(np.asarray(df_train_num), lags=3).fit()

In [82]:
pred = ar_model.predict(start=len(df_train_num), end=len(us_chn_df)-1)

In [83]:
pred

array([7.35456953e+10, 9.96518696e+10, 1.11600434e+11, 1.53875997e+11])

In [84]:
df_valid_num

array([[7.4375135e+10],
       [8.1433895e+10],
       [9.4016730e+10],
       [9.3673070e+10]])

# ARIMAX

In [85]:
from statsmodels.tsa.arima.model import ARIMA

In [88]:
df_train.set_index("year")

,index,iso_o,iso_d,FLOW,GDP_o,GDP_d,POP_o,POP_d,Distw,Comlang,Contig,XPTOT_o,IPTOT_d,IPTOT_o,XPTOT_d
year,,,,,,,,,,,,,,,
2001,2332236,USA,CHN,1.821455e+10,7.378503e+12,9.254435e+11,284968.97,1271850.0,11183.428123,0.0,0.0,5.301281e+11,1.691950e+11,8.198111e+11,2.822862e+11
2002,2332237,USA,CHN,1.818276e+10,7.324450e+12,9.754176e+11,287625.20,1280400.0,11183.428123,0.0,0.0,4.876326e+11,1.971244e+11,8.022755e+11,3.161568e+11
2003,2332238,USA,CHN,2.078663e+10,7.049963e+12,1.010535e+12,290107.94,1288400.0,11183.428123,0.0,0.0,4.671654e+11,2.528505e+11,7.994658e+11,3.647914e+11
2004,2332239,USA,CHN,2.443822e+10,6.704321e+12,1.060543e+12,292805.30,1296075.0,11183.428123,0.0,0.0,4.692705e+11,3.063038e+11,8.331812e+11,4.272286e+11
2005,2332240,USA,CHN,2.694688e+10,7.201523e+12,1.247725e+12,295516.60,1303720.0,11183.428123,0.0,0.0,5.131972e+11,3.631191e+11,9.528826e+11,5.384827e+11
2006,2332241,USA,CHN,3.224296e+10,7.530495e+12,1.483602e+12,298379.90,1311020.0,11183.428123,0.0,0.0,5.636124e+11,4.303292e+11,1.043082e+12,6.415434e+11
2007,2332242,USA,CHN,3.498284e+10,7.235517e+12,1.760744e+12,301231.22,1317885.0,11183.428123,0.0,0.0,5.810549e+11,4.779125e+11,1.008230e+12,7.191396e+11
2008,2332243,USA,CHN,4.445431e+10,8.006408e+12,2.479631e+12,304093.97,1324655.0,11183.428123,0.0,0.0,7.071993e+11,6.157260e+11,1.178219e+12,8.980015e+11
2009,2332244,USA,CHN,4.992364e+10,9.255663e+12,3.247738e+12,306771.53,1331260.0,11183.428123,0.0,0.0,6.784442e+11,6.444161e+11,1.029349e+12,9.063443e+11
2010,2332245,USA,CHN,6.598572e+10,9.684627e+12,3.908740e+12,309346.88,1337705.0,11183.428123,0.0,0.0,8.267647e+11,9.021093e+11,1.273726e+12,1.160983e+12

In [95]:
arima_model = ARIMA(df_train.FLOW, order=(2,1,1), exog=df_train[exo]).fit()

/Users/prateekrao/miniforge3/envs/mlb/lib/python3.8/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/Users/prateekrao/miniforge3/envs/mlb/lib/python3.8/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

In [101]:
arima_model.predict(2011, 2014, exog=df_valid[exo])

/Users/prateekrao/miniforge3/envs/mlb/lib/python3.8/site-packages/statsmodels/tsa/base/tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

ValueError: Provided exogenous values are not of the appropriate shape. Required (2005, 11), got (4, 11).